<% include headerLayout.ejs %>

<div id="booklist">

    <table id="booktable" width="800">
        <tr>
            <th>제목</th>
            <th>저자</th>
            <th>발행일</th>
        </tr>
        <% data.forEach((item, index) => { %>
            <tr>
                <td><%= item.id %></a></td>
                <td><%= item.title %></a></td>
            </tr>
        <% }); %>
    </table>

</div>

<% include footerLayout.ejs %>