<% include headerLayout.ejs %>

<div id="location">

<h3><b>주소: 강원도 동해시 구미실길 96-1 (대구동)</b></h3>
<p><b>▼지도를 클릭하시면 네이버지도로 이동합니다.</b></p>

<table id="locationMap" cellpadding="0" cellspacing="0" width="536"> <tr> <td style="border:1px solid #cecece;"><a href="https://v4.map.naver.com/?searchCoord=04b5efbb4bf12709641d2fc79d5fb79b3f6d133fed000bd4d8451629ae378209&query=6rWs66%2B47Iuk6ri4IDk2LTE%3D&tab=1&lng=7f6613dbe58528d4a978fbf77f2d4762&mapMode=0&mpx=c26a332df179fd8c70bb2a2444a2e4b94ca8a9611d758e515cb3cd854c7533ad05c83630faa82f5c94eb4f028fdd9f177b7c643327eb91700d9128a553fc7843&lat=6a8e340f5d88cb272d8b446b4a78b63a&dlevel=8&enc=b64&menu=location" target="_blank"><img src="http://prt.map.naver.com/mashupmap/print?key=p1600226902926_1298549253" width="534" height="418" alt="지도 크게 보기" title="지도 크게 보기" border="0" style="vertical-align:top;"/></a></td> </tr> <tr> <td> <table cellpadding="0" cellspacing="0" width="100%"> <tr> <td height="30" bgcolor="#f9f9f9" align="left" style="padding-left:9px; border-left:1px solid #cecece; border-bottom:1px solid #cecece;"><a style="font-family: dotum,sans-serif; font-size: 11px; color:#666; text-decoration: none; letter-spacing: -1px;" href="https://v4.map.naver.com/?searchCoord=04b5efbb4bf12709641d2fc79d5fb79b3f6d133fed000bd4d8451629ae378209&query=6rWs66%2B47Iuk6ri4IDk2LTE%3D&tab=1&lng=7f6613dbe58528d4a978fbf77f2d4762&mapMode=0&mpx=c26a332df179fd8c70bb2a2444a2e4b94ca8a9611d758e515cb3cd854c7533ad05c83630faa82f5c94eb4f028fdd9f177b7c643327eb91700d9128a553fc7843&lat=6a8e340f5d88cb272d8b446b4a78b63a&dlevel=8&enc=b64&menu=location" target="_blank">지도 크게 보기</a> </td> <td width="98" bgcolor="#f9f9f9" align="right" style="text-align:right; padding-right:9px; border-right:1px solid #cecece; border-bottom:1px solid #cecece;"> <span style="float:right;"><span style="font-size:9px; font-family:Verdana, sans-serif; color:#444;">&copy;&nbsp;</span>&nbsp;<a style="font-family:tahoma; font-size:9px; font-weight:bold; color:#2db400; text-decoration:none;" href="https://www.navercorp.com" target="_blank">NAVER Corp.</a></span> </td> </tr> </table> </td> </tr> </table>

</div>

<% include footerLayout.ejs %>