<% include headerLayout.ejs %>

<div id='pictures'>
    <h2>숙소내부</h2>
    <img src="images/1.jpg" width="700px">
    <img src="images/3.jpg" width="350px">
    <img src="images/4.jpg" width="350px">
    <img src="images/5.jpg" width="700px">
    <h2>외부정경</h2>
    <img src="images/2.jpg" width="400px">
    <img src="images/6.jpg" width="300px">
    <img src="images/11.jpg" width="350px">
    <img src="images/12.jpg" width="350px">
</div>

<% include footerLayout.ejs %>