<% include headerLayout.ejs %>

<script>

    var today = new Date();
    var date = new Date();

    function preCalendar() {
        today = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate());
        buildCalendar();
    }

    function nextCalendar() {
        today = new Date(today.getFullYear(), today.getMonth() + 1, today.getDate());
        buildCalendar();
    }

    function newMonth(d) {
        var month = d.getMonth() + 1
        return (month < 10 ? '0' : '') + month;
    }

    function newDay(d) {
        return (d < 10 ? '0' : '') + d;
    }

    function buildCalendar() {
        var doMonth = new Date(today.getFullYear(), today.getMonth(), 1);
        var lastDate = new Date(today.getFullYear(), today.getMonth() + 1, 0)
        var tbCalendar = document.getElementById('calendar');
        var tbCalendarYM = document.getElementById('tbCalendarYM');
        tbCalendarYM.innerHTML = today.getFullYear() + '년' + (today.getMonth() + 1) + '월';

        while (tbCalendar.rows.length > 2) {
            tbCalendar.deleteRow(tbCalendar.rows.length - 1);
        }

        var row = null;
        row = tbCalendar.insertRow();
        var cnt = 0;
        for (var i = 0; i < doMonth.getDay(); i++) {
            cell = row.insertCell();
            cnt += 1;
        }

        for (var i = 1; i <= lastDate.getDate(); i++) {
            cell = row.insertCell();
            cell.innerHTML = i;
            cnt += 1;

            if (cnt % 7 == 0) {
                cell.innerHTML = i;
                row = calendar.insertRow();
            }

            if (today.getFullYear() == date.getFullYear()
                && today.getMonth() == date.getMonth()
                && i > date.getDate()) {
                cell.innerHTML = i;
                cell.id = today.getFullYear() + "-" + newMonth(today) + "-" + newDay(i);
                cell.bgColor = "skyblue"
            }

            if (today.getFullYear() == date.getFullYear()
                && today.getMonth() > date.getMonth()) {
                cell.innerHTML = i;
                cell.id = today.getFullYear() + "-" + newMonth(today) + "-" + newDay(i);
                cell.bgColor = "skyblue"
            }

            if (today.getFullYear() > date.getFullYear()) {
                cell.innerHTML = i;
                cell.id = today.getFullYear() + "-" + newMonth(today) + "-" + newDay(i);
                cell.bgColor = "skyblue"
            }
        }
    }

</script>

<div id="reservation">

    <p><span style="background-color: skyblue;">&nbsp&nbsp&nbsp&nbsp&nbsp</span>&nbsp예약가능&nbsp&nbsp&nbsp<span style="background-color: pink;">&nbsp&nbsp&nbsp&nbsp&nbsp</span>&nbsp예약불가</p>

    <table id="calendar">
        <tr>
            <td class="arrow" onclick="preCalendar()"><</td>
            <td align="center" id="tbCalendarYM" colspan="5">yyyy년 m월</td>
            <td class="arrow" onclick="nextCalendar()">></td>
        </tr>
        <tr>
            <td align="center">일</td>
            <td align="center">월</td>
            <td align="center">화</td>
            <td align="center">수</td>
            <td align="center">목</td>
            <td align="center">금</td>
            <td align="center">토</td>
        </tr>
    </table>
</div>

<script>
    buildCalendar();
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $.post("/reservation", function (data, status) {
            for (var i = 0; i < data.length; i++) {
                reservedId = "#" + data[i].date.substring(0, 10);
                $(reservedId).css("background-color", "pink");               
            }
        });
        
        $(".arrow").click(function() {
            $.post("/reservation", function (data, status) {
            for (var i = 0; i < data.length; i++) {
                reservedId = "#" + data[i].date.substring(0, 10);
                $(reservedId).css("background-color", "pink");
            }
        });
        })
    });
</script>

<% include footerLayout.ejs %>