<% include headerLayout.ejs %>

<div id="intro">

    <h2 style="margin-top: 5px;">책과 함께 휴식하는 <북스테이></h2>

    <p>북스테이란 북(Book)과 스테이(Stay) 단어가 만난 합성어로, 책과 더불어 하룻밤을 보내는 이색적인 공간을 말합니다. 이는 “책이 머문다”는 말의 뜻 그대로, 책이 있는 방에서 잠을 잘 수 있도록
        서비스하는 공간을 의미합니다.</p>
    <p>게스트는 집에서 챙겨온 책을 읽거나 책장 등에 비치된 책을 자유롭게 읽을 수 있습니다. 여행과 독서, 숙박을 한꺼번에 해결할 수 있어 독서가와 여행자들의 관심을 끌고 있습니다.</p>

    <h2>100년 한옥 북스테이 소개</h2>
    
    <p>● 저희 숙소는 게스트에게 육체적인 휴식뿐 아니라 정신적인 만족감까지 주는 것을 목표로 합니다.</p>
    <p>● 책에 집중할 수 있는 조용한 공간입니다. 책을 읽다 휴식이 필요할 때 산책하기에도 좋습니다.</p>
    <p>● 100년의 역사를 가진 한옥에서 시골의 정취를 느껴보세요.</p>

</div>

<% include footerLayout.ejs %>