<% include headerLayout.ejs %>

<div>
    <img src="images/1.jpg" width="800px">
    <img src="images/2.jpg" width="800px">
    <img src="images/3.jpg" width="800px">
</div>

<% include footerLayout.ejs %>